.App {
  margin-left: 300px;
  margin-top: 50px;
}

.box {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  margin-right: -1px;
  margin-top: -1px;
  float: left;
  padding: 0;
  text-align: center;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}
